.ba-color-red {
  color: red;
}

.ba-color-green {
  color: green;
}

.chart-button {
  padding: 0.4rem 0.4rem;
  border-radius: 3rem;
  margin-right: -0.8rem;
}

.chart-button:hover {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.chart-button:active {
  background-color: rgb(197, 197, 197);
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
